//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Jost-Medium', 'Jost', 'Jost-Medium',  normal, normal)
webfont('Jost-Regular', 'Jost', 'Jost-Regular',  normal, normal)
webfont('Jost-SemiBold', 'Jost', 'Jost-SemiBold',  normal, normal)
webfont('TenorSans', 'TenorSans', 'TenorSans',  normal, normal)



