{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-gutter-top">


			<section class="sect__article text-page-gutter page-gutter-bottom">

				<div class="container">

					<article class="article">
						<div class="content">
							<h1>Политика конфидециальности</h1>
							<p>Настоящая Политика конфиденциальности предназначена для пользователей, которые посещают веб-сайт. Если вы не согласны с этими условиями, пожалуйста, покиньте эту страницу и прекратите  использовать веб-сайт. </p>
							<h2>Сбор личной информации</h2>
							<p>Принимая эту политику конфиденциальности, вы разрешаете Diamonds собирать, хранить и использовать любую информацию, которую вы можете ввести на нашем веб-сайте или предоставить нам каким-либо другим образом. Мы заверяем вас, что эта информация никогда не будет продана или передана сторонам, не связанным с нами.</p>
							<h2>Использование персональных данных</h2>
							<p>Вся личная информация, которую мы собираем от наших клиентов, используется для повышения нашей актуальности для вас и для улучшения вашего опыта посещения с нами. Essilux Group владеет всей информацией, собранной через веб-сайт. Помимо этого, эта информация может использоваться для мониторинга и улучшения веб-сайта; подсчитать количество посетителей; чтобы знать географическое местоположение посетителей и демографические данные, предпочтения, интересы, поведение и статистику использования веб-сайта, которую мы можем передавать нашим спонсорам или другим третьим сторонам (которые не включают маркетинговых партнеров Essilux Group и сетевых поставщиков). Когда вы связываетесь с Essilux Group с помощью любых средств, таких как электронная почта, Essilux Group не включает ваш идентификатор электронной почты для маркетинговых коммуникаций.</p>
							<h2>Безопасность данных</h2>
							<p>Essilux Group обязуется защищать личную информацию, которой вы делитесь с нами. Мы используем комбинацию технологий, процедур и организационных мер физической и электронной безопасности, чтобы помочь защитить вашу личную информацию от несанкционированного доступа, использования или раскрытия. Мы используем технологию шифрования Secure Sockets Layer (SSL). На нашем веб-сайте приняты строгие меры безопасности для защиты от потери, неправильного использования и изменения информации, находящейся под нашим контролем. Получив вашу информацию, и она окажется в нашем распоряжении, мы будем придерживаться строгих правил по защите ее от несанкционированного доступа. Несмотря на то, что мы стремимся защитить вашу личную информацию после ее получения, никакая передача данных через Интернет или любую другую общедоступную сеть не может быть гарантирована на 100 % и, соответственно.</p>
							<h2>Oтказ от ответственности</h2>
							<p>Материалы и услуги этого сайта предоставляются «как есть» без каких-либо гарантий. Diamonds не гарантирует точности и полноты материалов, программ и услуг, предоставляемых на этом Сайте. Diamonds в любое время без уведомления может вносить изменения в материалы и услуги, предоставляемые на этом Сайте, а также в упомянутые в них продукты и цены. В случае устаревания материалов и услуг на этом Сайте www.Diamonds.com.ua не обязуется обновлять их. Diamonds ни при каких обстоятельствах не несет ответственности за любой ущерб (включая, но не ограничиваясь ущербом от потери прибыли, данных или от прерывания деловой активности), возникший вследствие использования, невозможности использования или результатов использования этого сайта.</p>
							<h2>Связаться с нами</h2>
							<p>Если у вас есть какие-либо вопросы об этих Условиях или вам необходимо связаться с Diamonds по какой-либо причине, вы можете связаться с нами по адресу <a href="#">Diamonds@gmail.com</a></p>
						</div>
					</article>



					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
							<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="1" itemprop="position">
									<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Главная</span>
										</span>
									</a>
								</li>



								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="2" itemprop="position">
									<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">Политика конфидециальности</span>
									</span>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //Breadcrumbs -->
				</div>
				<!-- //container -->
			</section>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>