{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-gutter-top page-gutter-bottom page-sales-service">

			<section class="sect__service-entering">
				<div class="container">
					<div class="page-entering">
						<div class="page-entering__content">
							<div class="content">
								<h1>Продать бриллиант</h1>
								<h2>Скупка бриллиантов и украшений с бриллиантами дорого</h2>
								<p>Продать бриллиант в украшениях и по отдельности по самой высокой цене в Украине. Для быстрой онлайн оценки бриллиантов необходимо иметь сертификат GIA, HRD. Бриллиант без сертификата можно оценить только вживую.</p>
							</div>
							<a href="#form" class="btn btn-lg js-smooth-scroll-link">Оценить бесплатно</a>
						</div>
						<div class="page-entering__img">
							<img src="img/sale/diamands-1.png" alt="">
						</div>
					</div>

					<div class="service-benefits row align-horisontal-start row-gutters">
						<div class="service-benefit col-w-25 col-gutters">
							<span class="service-benefit__ic" style="background-image: url('img/icons/svg/benefits/1.svg');"></span>
							<p>Быстрый выкуп<br> бриллиантов</p>
						</div>

						<div class="service-benefit col-w-25 col-gutters">
							<span class="service-benefit__ic" style="background-image: url('img/icons/svg/benefits/2.svg');"></span>
							<p>Предлагаем<br> наивысшую цену</p>
						</div>

						<div class="service-benefit col-w-25 col-gutters">
							<span class="service-benefit__ic" style="background-image: url('img/icons/svg/benefits/3.svg');"></span>
							<p>Честно и<br> анонимно</p>
						</div>

						<div class="service-benefit col-w-25 col-gutters">
							<span class="service-benefit__ic" style="background-image: url('img/icons/svg/benefits/4.svg');"></span>
							<p>Выплата<br> наличными</p>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect entering -->

			<section class="sect__sales-steps">
				<div class="container">

					<div class="sales-steps__content row align-veritcal-start row-nowrap">
						<div class="sales-steps__content-img">
							<img src="img/sale/diamands-2.png" alt="">
						</div>
						<div class="saels-steps__content-text">
							<h2 class="sect-title">Как выгодно продать бриллиант или кольцо с бриллиантом?</h2>
							<p>В Diamonds вы сможете выгодно продать свои бриллианты. Наша команда специализируется на работе с премиальными изделиями и предметами роскоши, так что сможет по достоинству оценить ваш драгоценный камень. Мы предлагаем лучшие условия, чтобы продать бриллианты в Украине. Наличие у продаваемого бриллианта сертификата от таких аттестационных органов как GIA, AGS, HRD, IGI и EGL упростит оценку, ускорит продажу и гарантирует высшую цену. Драгоценные камни без сертификата оцениваются в индивидуальном порядке.</p>
						</div>
					</div>

					<div class="sales-steps__wrapper">
						<h2 class="sect-title margin-b-65">Как происходит продажа?</h2>

						<div class="sales-steps row align-horisontal-start">
							<div class="sales-step col-w-25">
								<span class="sales-step__counter">1.</span>
								<div class="sales-step__text">
									<h3>Оставьте заявку<br> на оценку</h3>
									<p>Бесплатно оцениваем все виды изделий в онлайн-режиме</p>
								</div>
							</div>
							<!-- //step -->

							<div class="sales-step col-w-25">
								<span class="sales-step__counter">2.</span>
								<div class="sales-step__text">
									<h3>Осматриваем<br> и оцениваем</h3>
									<p>Быстрая оценка по фото за 10 минут и осмотр вживую специалистом</p>
								</div>
							</div>
							<!-- //step -->

							<div class="sales-step col-w-25">
								<span class="sales-step__counter">3.</span>
								<div class="sales-step__text">
									<h3>Оформляем<br> сделку</h3>
									<p>Всегда находим выгодное предложение. Анонимно и безопасно. </p>
								</div>
							</div>
							<!-- //step -->

							<div class="sales-step col-w-25">
								<span class="sales-step__counter">4.</span>
								<div class="sales-step__text">
									<h3>Деньги у вас в<br> тот же день</h3>
									<p>Платим на 90% выше рынка. Оплата в день сделки.</p>
								</div>
							</div>
							<!-- //step -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__service-evaluation" id="form">
				<h2 class="sect-title container">Оценка бриллианта</h2>
				<div class="container">

					<div class="service-evaluation">


						<div class="form-wrapper service-evaluation-form">
							<form>
								<!-- Hidden inputs -->
								<input type="hidden" name="project_name" value="Diamands">
								<input type="hidden" name="form_subject" value="Продажа продукта">
								<input type="hidden" name="page" value="Страница: ">
								<!-- // Hidden inputs -->
								<div class="row align-horisontal-start form-groups__row">
									<div class="form-group col-w-25">
										
										<p class="form-label">Телефон</p>
										<input type="tel" name="tel" class="form-input js-required-input" placeholder="+380 (__) ___ __ __">
										<p class="form-error">Заполните это поле</p>
										
									</div>

									<div class="form-group col-w-25">

										<p class="form-label">Вес камня*</p>
										<input type="text" name="Вес камня" class="form-input js-required-input" placeholder="Вес камня">
										<p class="form-error">Заполните это поле</p>
									</div>

									<div class="form-group col-w-25">

										<p class="form-label">Чистота*</p>
										<input type="text" name="Чистота" class="form-input js-required-input" placeholder="Чистота">
										<p class="form-error">Заполните это поле</p>
									</div>

									<div class="form-group col-w-25">

										<p class="form-label">Email</p>
										<input type="email" name="email" class="form-input" placeholder="Ваш емейл">
									</div>

									<div class="form-group tablet-full-width col-w-50">
										<p class="form-label">Описание предмета</p>
										<textarea name="Описание" class="form-input form-textarea" placeholder="Расскажите про характеристики камня "></textarea>
									</div>

									<div class="form-group tablet-full-width form-group-file col-w-50">

										<label class="form-file">
											<p class="form-label hidden-label">Файл</p>
											<input type="file" name="fileFF[]" multiple="" data-multiple-caption="Выбрано: {count} файла(ов)">
											<span class="btn btn-transparent btn-with-ic f-f-regular form-file__attach">
												<svg  viewBox="0 0 9 18"  xmlns="http://www.w3.org/2000/svg">
													<path d="M4.375 17.25C6.655 17.25 8.5 15.405 8.5 13.125V4.5H7.375V13.125C7.375 14.7825 6.0325 16.125 4.375 16.125C2.7175 16.125 1.375 14.7825 1.375 13.125V3.75C1.375 3.25272 1.57254 2.77581 1.92417 2.42417C2.27581 2.07254 2.75272 1.875 3.25 1.875C3.74728 1.875 4.22419 2.07254 4.57583 2.42417C4.92746 2.77581 5.125 3.25272 5.125 3.75V11.625C5.125 12.0375 4.7875 12.375 4.375 12.375C3.9625 12.375 3.625 12.0375 3.625 11.625V4.5H2.5V11.625C2.5 12.1223 2.69754 12.5992 3.04917 12.9508C3.40081 13.3025 3.87772 13.5 4.375 13.5C4.87228 13.5 5.34919 13.3025 5.70083 12.9508C6.05246 12.5992 6.25 12.1223 6.25 11.625V3.75C6.25 2.0925 4.9075 0.75 3.25 0.75C1.5925 0.75 0.25 2.0925 0.25 3.75V13.125C0.25 15.405 2.095 17.25 4.375 17.25Z" />
												</svg>
												<span>Прикрепить фото</span>

											</span>

											<span class="btn btn-transparent btn-with-ic form-file__result">
												<svg  viewBox="0 0 9 18"  xmlns="http://www.w3.org/2000/svg">
													<path d="M4.375 17.25C6.655 17.25 8.5 15.405 8.5 13.125V4.5H7.375V13.125C7.375 14.7825 6.0325 16.125 4.375 16.125C2.7175 16.125 1.375 14.7825 1.375 13.125V3.75C1.375 3.25272 1.57254 2.77581 1.92417 2.42417C2.27581 2.07254 2.75272 1.875 3.25 1.875C3.74728 1.875 4.22419 2.07254 4.57583 2.42417C4.92746 2.77581 5.125 3.25272 5.125 3.75V11.625C5.125 12.0375 4.7875 12.375 4.375 12.375C3.9625 12.375 3.625 12.0375 3.625 11.625V4.5H2.5V11.625C2.5 12.1223 2.69754 12.5992 3.04917 12.9508C3.40081 13.3025 3.87772 13.5 4.375 13.5C4.87228 13.5 5.34919 13.3025 5.70083 12.9508C6.05246 12.5992 6.25 12.1223 6.25 11.625V3.75C6.25 2.0925 4.9075 0.75 3.25 0.75C1.5925 0.75 0.25 2.0925 0.25 3.75V13.125C0.25 15.405 2.095 17.25 4.375 17.25Z" />
												</svg>
												<span class="form-file__result--text">Выбрано: 2 файла(ов)</span>
												<svg class="clear-ic" viewBox="0 0 11 12" xmlns="http://www.w3.org/2000/svg">
													<path d="M0.833008 10.667L10.1666 1.33336"/>
													<path d="M10.167 10.667L0.833356 1.33336"/>
												</svg>
											</span>
										</label>

										<label class="form-checkbox__label">
											<input name="sertificate" type="checkbox">
											<span class="form-checkbox">У меня есть гемологический сертификат</span>
										</label>

									</div>

									<div class="form-submit align-vertical-center col-w-100">
										<button class="btn" type="submit">оценить бриллиант</button>

										<p class="form-notice">Нажимая на кнопку, подтверждаю согласие<br> с <a href="page-policy.html">политикой конфиденциальности</a></p>
									</div>
								</div>
							</form>

							
						</div>


					</div>
				</div>
				<!-- //container -->

			</section>

			<section class="sect__price-affects">
				<div class="container">
					<div class="price-affects content content-lg-titles">
						<img src="img/sale/diamands-3.png" alt="" class="alignright">
						<h2>Что влияет на цену бриллианта?</h2>
						<p>Определение цены бриллианта включает в себя оценку физических особенностей камня и текущую рыночную тенденцию ценообразования на бриллианты. Для быстрой оценки потребуется геммологический сертификат - документ, пождтверждающий, что данный камень обладает заявленными характеристиками. Сертификат содержит информацию об основных параметрах, влияющих на цену бриллианта: вес, чистота, цвет и оттенок, огранка и форма, прозрачность, симметрия и другие важные параметры. </p>
						<p>Цена расчитывается за единицу веса, называемую «за карат». Наибольшее влияние на стоимость оказывает чистота камня, бесцветность и идеальная огранка, дающая яркое сияние. </p>
					</div>

					<a href="#" class="btn btn-transparent btn-with-ic btn-with-arrow">
						<span>Подробнее</span>
						<svg  viewBox="0 0 20 8"  xmlns="http://www.w3.org/2000/svg">
							<path d="M18.8887 4.35355C19.084 4.15829 19.084 3.84171 18.8887 3.64645L15.7067 0.464466C15.5115 0.269204 15.1949 0.269204 14.9996 0.464466C14.8044 0.659728 14.8044 0.976311 14.9996 1.17157L17.828 4L14.9996 6.82843C14.8044 7.02369 14.8044 7.34027 14.9996 7.53553C15.1949 7.7308 15.5115 7.7308 15.7067 7.53553L18.8887 4.35355ZM18.5352 3.5L0.463726 3.5L0.463726 4.5L18.5352 4.5L18.5352 3.5Z"/>
						</svg>
					</a>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__feedbacks">
				<div class="container">
					<div class="row align-vertical-start feedbacks__row row-nowrap">
						<div class="feedbacks-description">
							<div class="row align-vertical-center row-nowrap align-horisontal-between">
								<h2 class="sect-title no-margin">Отзывы</h2>

								<!-- Slider controls -->
								<div class="slider-controls">
									<button class="slider-controls__btn js-feedbacks-slider-btn-prev" type="button">
										<svg  viewBox="0 0 20 9"  xmlns="http://www.w3.org/2000/svg">
											<path d="M0.610314 4.05758C0.415052 4.25284 0.415052 4.56942 0.610314 4.76469L3.79229 7.94667C3.98756 8.14193 4.30414 8.14193 4.4994 7.94667C4.69466 7.7514 4.69466 7.43482 4.4994 7.23956L1.67097 4.41113L4.4994 1.58271C4.69466 1.38744 4.69466 1.07086 4.4994 0.875599C4.30414 0.680337 3.98756 0.680337 3.79229 0.875599L0.610314 4.05758ZM0.963867 4.91113L19.0353 4.91113L19.0353 3.91113L0.963867 3.91113L0.963867 4.91113Z"/>
										</svg>

									</button>
									<button class="slider-controls__btn js-feedbacks-slider-btn-next" type="button">
										<svg  viewBox="0 0 20 9" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.3897 4.94242C19.5849 4.74716 19.5849 4.43058 19.3897 4.23531L16.2077 1.05333C16.0124 0.858071 15.6959 0.858071 15.5006 1.05333C15.3053 1.2486 15.3053 1.56518 15.5006 1.76044L18.329 4.58887L15.5006 7.41729C15.3053 7.61256 15.3053 7.92914 15.5006 8.1244C15.6959 8.31966 16.0124 8.31966 16.2077 8.1244L19.3897 4.94242ZM19.0361 4.08887L0.964703 4.08887L0.964703 5.08887L19.0361 5.08887L19.0361 4.08887Z" />
										</svg>


									</button>
								</div>
								<!-- //Slider controls -->
							</div>
							<p>Наши клиенты доверяют нам самое ценное. Мы предоставляем свои услуги по всей Украине. Для каждой сделки гарантируем безопасность и конфиденциальность. </p>
						</div>

						<div class="feedbacks-slider">
							<div class="swiper-container js-feedbacks-slider">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="feedback color-bg">
											<div class="feedback-content">
												<p class="feedback-text">Надежная компания, честная и справедливая оценка. Выкупили бралет очень быстро и оплатили наличными</p>
												<p class="feedback-author">Продавец из Киева</p>
												<p class="feedback-date">20 января 2022</p>
											</div>
										</div>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<div class="feedback color-bg">
											<div class="feedback-content">
												<p class="feedback-text">Надежная компания, честная и справедливая</p>
												<p class="feedback-author">Продавец из Киева</p>
												<p class="feedback-date">20 января 2022</p>
											</div>
										</div>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<div class="feedback color-bg">
											<div class="feedback-content">
												<p class="feedback-text">Надежная компания, честная и справедливая оценка. Выкупили бралет очень быстро и оплатили наличными</p>
												<p class="feedback-author">Продавец из Киева</p>
												<p class="feedback-date">20 января 2022</p>
											</div>
										</div>
									</div>
									<!-- //slide -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__benefits">
				<h2 class="sect-title container margin-b-65">Почему стоит продать бриллианты  в Diamonds</h2>

				<div class="container">
					<div class="benefits row align-horisontal-start row-gutters">
						<div class="benefit col-w-50 col-gutters">
							<h3 class="benefit-title">Быстрая оценка</h3>
							<p>У нас вы сможете подать заявку онлайн и за 10 минут узнать предварительную стоимость вашего изделия. Учитывайте, что на фото не всегда получается рассмотреть детали, поэтому окончательная стоимость будет определена при личном осмотре. Чтобы стоимость была максимально точной подробно опишите все нюансы в заявке и приложите фото сертификата и паспорта изделия.</p>
						</div>

						<div class="benefit col-w-50 col-gutters">
							<h3 class="benefit-title">Деньги в день сделки</h3>
							<p>Скупка ювелирных украшений займет не более 60 минут, а сама оценка украшений происходит еще быстрее. Вы получите деньги уже в день сделки при личной встрече. В случае, если личная встреча в вашем городе невозможна мы переведем деньги на карту или оговариваем детали оплаты индивидуально.</p>
						</div>

						<div class="benefit col-w-50 col-gutters">
							<h3 class="benefit-title">Гарантия объективной цены</h3>
							<p>Огромный опыт в оценке украшений и специализация на люксовых брендах позволяют нашим оценщикам в полной мере оценить элитное драгоценное украшение и предложить выгодный выкуп ювелирных изделий и украшений, с учетом не только драгоценных материалов в их составе, но и художественной, коллекционной ценности.</p>
						</div>

						<div class="benefit col-w-50 col-gutters">
							<h3 class="benefit-title">Конфиденциальность и комфорт</h3>
							<p>Скупка ювелирных изделий совершается с полным сохранением конфиденциальности клиента. Мы не разглашаем персональные данные и гарантируем безопасность сделки по продаже драгоценностей.<br> Продать украшения с бриллиантами вам больше не нужно тратить личное время на визиты к оценщикам. Онлайн-оценка происходит прямо из дома или работы. </p>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- Breadcrumbs -->
			<div class="breadcrumbs container">
				<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
					<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

						<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="1" itemprop="position">
							<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">
									<span>Главная</span>
								</span>
							</a>
						</li>

						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<meta content="2" itemprop="position">
							<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
								<span itemprop="name">Продажа бриллианта</span>
							</span>
						</li>
					</ul>
				</nav>
			</div>
			<!-- //Breadcrumbs -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>