{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-gutter-top">


			<section class="sect__city page-gutter-bottom">

				<div class="container">

					<article class="text-page gutter-bottom">
						<div class="page-entering">
							<div class="page-entering__content">
								<div class="content">
									<h1>Продать бриллианты<br> в Киеве дорого</h1>
									<p>Хотите оценить бриллиант или украшение с бриллиантами в городе Киев быстро? Скупка драгоценных камней к вашим услугам. Обращайтесь к нам: ваши украшения попадут в надежные руки и вы получите справедливую цену! Закажите бесплатную онлайн оценку, приложив фото геммологического сертификата. </p>
								</div>
							</div>
							<div class="page-entering__img">
								<img src="img/kiev.png" alt="">
							</div>
						</div>

						<div class="content">
							<h2>Быстрая оценка бриллиантов в Diamonds</h2>
							<p>Мы не занижаем цены, стараемся обеспечить прозрачные условия для своих клиентов. В отличии от некоторых конкурентов, которые изначально завышают оценку, а при визуальном осмотре опускают цену до 50% от первоначальной (своей) цены озвученной по телефону.</p>
							<p>Есть много проблем при выборе расположения граней, которое оптимизирует внешний вид цветного камня лицевой стороной вверх. Что способствует привлекательной внешности? В области когнитивной науки эксперты определили правила, управляющие нашим восприятием визуальных сигналов, таких как линия, цвет, форма, яркость, контраст и движение. Подсознательная обработка этих сигналов — это работа «системы визуального интеллекта» каждого человека, в которой оформляется каждый аспект нашего визуального опыта. В драгоценных камнях яркость зависит от того, как мы обрабатываем визуальные сигналы, поэтому некоторые узоры кажутся ярче других, даже если измеряемый возврат света одинаков. </p>
							<h2>Как продать бриллиант в Киеве?</h2>
							<p>Изучение этих правил может помочь сформулировать стратегии дизайна, чтобы сделать драгоценные камни ярче и интереснее. Существуют инструменты для изучения этих аспектов внешности. Используя их, закройщики могут выбрать элементы, которые позволят оптимизировать конструкцию. Эффективный дизайн требует изучения наилучших комбинаций углов и размещения граней для данного материала. Тем не менее,выбор внешности индивидуален . И хотя предпочтения различаются, это исследование предполагает улучшение мерцания при сохранении максимально возможной яркости.</p>
							<h2>Разница в цене между бриллиантами</h2>
							<p>Цены на бриллианты определяются поставщиками бриллиантов и огранщиками. Как правило, огранщики определяют цены на свои бриллианты на основе рыночной стоимости и наличия спроса и предложения. Цены на бриллианты не сильно колеблются. Если бриллиант сильно недооценен, это может быть связано с его чистотой, включениями или цветом. </p>

							<p>Обязательно проверьте все характеристики бриллиантов и сравните цены на бриллианты, прежде чем сделать окончательный выбор. Стоимость всех бриллиантов определяется по четырем параметрам огранки, цвету, чистоте и весу. Бриллианты со всего мира обладают одинаковыми характеристиками и оцениваются по одним и тем же четырем качествам. Большинство авторитетных ювелиров работают над тем, чтобы все партнеры-поставщики бриллиантов, с которыми они работают, соответствовали строгим этическим стандартам.</p>
						</div>
					</article>


					<div class="offer color-bg">
						<div class="offer-content">
							<h2 class="sect-title">Оценить бесплатно</h2>
							<p>Для продажи украшений и драгоценных камней необходимо провести предварительную оценку. </p>
							<button class="btn js-open-categories-popup-btn" type="button">заявка на оценку</button>
						</div>
						<div class="offer-img">
							<img src="img/offer.png" alt="">
						</div>
					</div>


					<div class="row align-vertical-start feedbacks__row row-nowrap gutter-top-lg">
						<div class="feedbacks-description">
							<div class="row align-vertical-center row-nowrap align-horisontal-between">
								<h2 class="sect-title no-margin">Отзывы</h2>

								<!-- Slider controls -->
								<div class="slider-controls">
									<button class="slider-controls__btn js-feedbacks-slider-btn-prev" type="button">
										<svg  viewBox="0 0 20 9"  xmlns="http://www.w3.org/2000/svg">
											<path d="M0.610314 4.05758C0.415052 4.25284 0.415052 4.56942 0.610314 4.76469L3.79229 7.94667C3.98756 8.14193 4.30414 8.14193 4.4994 7.94667C4.69466 7.7514 4.69466 7.43482 4.4994 7.23956L1.67097 4.41113L4.4994 1.58271C4.69466 1.38744 4.69466 1.07086 4.4994 0.875599C4.30414 0.680337 3.98756 0.680337 3.79229 0.875599L0.610314 4.05758ZM0.963867 4.91113L19.0353 4.91113L19.0353 3.91113L0.963867 3.91113L0.963867 4.91113Z"/>
										</svg>

									</button>
									<button class="slider-controls__btn js-feedbacks-slider-btn-next" type="button">
										<svg  viewBox="0 0 20 9" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.3897 4.94242C19.5849 4.74716 19.5849 4.43058 19.3897 4.23531L16.2077 1.05333C16.0124 0.858071 15.6959 0.858071 15.5006 1.05333C15.3053 1.2486 15.3053 1.56518 15.5006 1.76044L18.329 4.58887L15.5006 7.41729C15.3053 7.61256 15.3053 7.92914 15.5006 8.1244C15.6959 8.31966 16.0124 8.31966 16.2077 8.1244L19.3897 4.94242ZM19.0361 4.08887L0.964703 4.08887L0.964703 5.08887L19.0361 5.08887L19.0361 4.08887Z" />
										</svg>


									</button>
								</div>
								<!-- //Slider controls -->
							</div>
							<p>Наши клиенты доверяют нам самое ценное. Мы предоставляем свои услуги по всей Украине. Для каждой сделки гарантируем безопасность и конфиденциальность. </p>
						</div>

						<div class="feedbacks-slider">
							<div class="swiper-container js-feedbacks-slider">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="feedback color-bg">
											<div class="feedback-content">
												<p class="feedback-text">Надежная компания, честная и справедливая оценка. Выкупили бралет очень быстро и оплатили наличными</p>
												<p class="feedback-author">Продавец из Киева</p>
												<p class="feedback-date">20 января 2022</p>
											</div>
										</div>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<div class="feedback color-bg">
											<div class="feedback-content">
												<p class="feedback-text">Надежная компания, честная и справедливая</p>
												<p class="feedback-author">Продавец из Киева</p>
												<p class="feedback-date">20 января 2022</p>
											</div>
										</div>
									</div>
									<!-- //slide -->

									<div class="swiper-slide">
										<div class="feedback color-bg">
											<div class="feedback-content">
												<p class="feedback-text">Надежная компания, честная и справедливая оценка. Выкупили бралет очень быстро и оплатили наличными</p>
												<p class="feedback-author">Продавец из Киева</p>
												<p class="feedback-date">20 января 2022</p>
											</div>
										</div>
									</div>
									<!-- //slide -->
								</div>
							</div>
						</div>
					</div>



					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
							<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="1" itemprop="position">
									<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Главная</span>
										</span>
									</a>
								</li>

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="2" itemprop="position">
									<a href="page-contacts.html"  itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Контакты</span>
										</span>
									</a>
								</li>



								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="3" itemprop="position">
									<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">Продать бриллиант в Киеве</span>
									</span>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //Breadcrumbs -->
				</div>
				<!-- //container -->
			</section>


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>