{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-gutter-top">

			<section class="sect__contacts page-gutter-bottom">
				<div class="container">

					<div class="contacts">
						<div class="contacts-entering contacts-block">

							<div class="contacts-entering__content">
								<h1 class="title">Контакты</h1>
								<h2 class="subtitle">Работаем по всей Украине</h2>

								<div class="content">
									<p>Организация личной встречи и выкупа возможна во всех крупных городах Украины: в <a href="page-city.html">Киеве</a>, Харькове, Одессе, Львове, Днепре, Запорожье, Николаеве, Херсоне, Сумах, Виннице и других крупных городах.</p>
								</div>
							</div>

							<div class="contacts-entering__img">
								<img src="img/map.svg" alt="">
							</div>
						</div>

						<div class="contacts-information contacts-block">
							<div class="row row-nowrap">
								<div class="contacts-information__col ">
									<p class="contacts-information__title ic-block ic-block__phone">Телефон</p>
									<p><a href="tel:+380 63 77 77 763" class="phone-link">+380 63 77 77 763</a></p>
									<p class="worktime">с 9:00 до 20:00 <span>ежедневно</span></p>
								</div>
								<div class="contacts-information__col ">
									<p class="contacts-information__title ic-block ic-block__chat">Пишите нам</p>
									<ul>
										<li><a href="#" target="_blank" class="link">Telegram</a></li>
										<li><a href="#" target="_blank" class="link">Viber</a></li>
										<li><a href="#" target="_blank" class="link">Whats app</a></li>
									</ul>
								</div>
								<div class="contacts-information__col ">
									<p class="contacts-information__title ic-block ic-block__address">Адрес</p>
									<p class="address">Киев, Проспект победы, 16 <span>по предварительной договоренности</span></p>
								</div>
							</div>
						</div>

						<div class="contacts-form contacts-block">
							<h2 class="sect-title margin-b-20">Остались вопросы?</h2>
							<p class="sect-description">Задайте свой вопрос или запишитесь на консультацию. Наши специалисты свяжутся с вами.</p>

							<div class="form">
								<form enctype="multipart/form-data">
									<!-- Hidden inputs -->
									<input type="hidden" name="project_name" value="Diamands">
									<input type="hidden" name="form_subject" value="Заявка с сайта Diamands">
									<input type="hidden" name="page" value="Страница: Заголовок страницы. Ссылка: url">
									<!-- // Hidden inputs -->

									<div class="row form-groups__row row-nowrap">

										<div class="form-group__col col-w-33">
											<div class="form-group form-group__message">
												<p class="form-label">Ваш вопрос</p>
												<textarea name="description" class="form-input form-textarea"></textarea>
											</div>
										</div>

										<div class="form-group__col col-w-33">
											<div class="form-group">
												<p class="form-label">Телефон</p>
												<input type="tel" name="tel" class="form-input js-required-input" placeholder="+380 (__) ___ __ __">
												<p class="form-error">Заполните это поле</p>
											</div>

											<div class="form-group">
												<p class="form-label">Email</p>
												<input type="email" name="email" class="form-input" placeholder="Ваш емейл">
											</div>
										</div>

										<div class="form-group__col form-group__col-submit col-w-33">
											<div class="form-group">
												<p class="form-label hidden-label">Файл</p>
												<label class="form-file">
													<input type="file" name="fileFF[]" multiple>
													<span class="btn btn-transparent btn-with-ic f-f-regular">
														<svg  viewBox="0 0 9 18"  xmlns="http://www.w3.org/2000/svg">
															<path d="M4.375 17.25C6.655 17.25 8.5 15.405 8.5 13.125V4.5H7.375V13.125C7.375 14.7825 6.0325 16.125 4.375 16.125C2.7175 16.125 1.375 14.7825 1.375 13.125V3.75C1.375 3.25272 1.57254 2.77581 1.92417 2.42417C2.27581 2.07254 2.75272 1.875 3.25 1.875C3.74728 1.875 4.22419 2.07254 4.57583 2.42417C4.92746 2.77581 5.125 3.25272 5.125 3.75V11.625C5.125 12.0375 4.7875 12.375 4.375 12.375C3.9625 12.375 3.625 12.0375 3.625 11.625V4.5H2.5V11.625C2.5 12.1223 2.69754 12.5992 3.04917 12.9508C3.40081 13.3025 3.87772 13.5 4.375 13.5C4.87228 13.5 5.34919 13.3025 5.70083 12.9508C6.05246 12.5992 6.25 12.1223 6.25 11.625V3.75C6.25 2.0925 4.9075 0.75 3.25 0.75C1.5925 0.75 0.25 2.0925 0.25 3.75V13.125C0.25 15.405 2.095 17.25 4.375 17.25Z" />
														</svg>
														<span>Прикрепить</span>

													</span>
												</label>
											</div>

											<div class="form-group">
												<p class="form-label hidden-label">Отправить заявку</p>
												<button class="btn" type="submit">Задать вопрос</button>
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>

					</div>


					{% include '../parts/components/offer.html' %}



					<!-- Breadcrumbs -->
					<div class="breadcrumbs">
						<nav  aria-label="Breadcrumbs" itemprop="breadcrumb">
							<ul class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

								<li  itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="1" itemprop="position">
									<a href="index.html" rel="home" aria-label="Главная" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">
											<span>Главная</span>
										</span>
									</a>
								</li>

								<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
									<meta content="2" itemprop="position">
									<span class="is-active" itemtype="https://schema.org/Thing" itemprop="item">
										<span itemprop="name">Контакты</span>
									</span>
								</li>
							</ul>
						</nav>
					</div>
					<!-- //Breadcrumbs -->
				</div>
				<!-- //container -->
			</section>		

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>