
<article class="article-card">
	<a href="page-article.html" class="article-card__thumbnail thumbnail">
		<img src="img/thumb.jpg" alt="">
		<span class="btn btn-transparent">читать далее</span>
	</a>
	<h2 class="article-card__title">
		<a href="page-article.html">Какие параметры влияют на цену бриллианта</a>
	</h2>
	<p class="article-date">27.01.2022</p>
	<div class="article-card__preview">
		<p>Оценка бриллиантов и других драгоценных камней комплексная задача, с которой справится лишь профессиональный геммолог. Основные параметры, влиющие на цену бриллиантов содержатся в геммологическом сертификате, а именно...</p>
	</div>
</article>
