<div class="nav-wrapper row align-horisontal-between align-vertical-center js-nav">

	<div class="nav-dropdown__wrapper">

		<button class="nav-dropdown__btn" type="button">
			<span>Продать</span>
			<svg viewBox="0 0 10 7"  xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L5 5L9 1" />
			</svg>
		</button>

		<div class="nav-dropdown">
			<p class="nav-title">Продать и оценить</p>
			<nav class="nav">
				<ul>
					<li>
						<a href="#"><img src="img/nav/1.svg" alt="">Бриллианты</a>
					</li>
					<li>
						<a href="#"><img src="img/nav/2.svg" alt="">Ювелирные изделия</a>
					</li>
					<li>
						<a href="#"><img src="img/nav/3.svg" alt="">Драгоценные камни</a>
					</li>
					<li>
						<a href="#"><img src="img/nav/4.svg" alt="">Золото</a>
					</li>
				</ul>
			</nav>

			<nav class="nav-secondary">
				<ul>
					<li><a href="page-contacts.html">Контакты</a></li>
					<li><a href="page-faq.html">Вопросы и ответы</a></li>
				</ul>
			</nav>
		</div>
	</div>


	<div class="header-contacts">
		<a href="tel:+380 63 77 77 763" class="phone-link">+380 63 77 77 763</a>

		{% include 'socials.html' %}
	</div>
	
</div>
