<!-- Popup -->
<div class="popup js-popup js-popup-categories">
	
	<div class="popup__overflow">

		

		<div class="popup__body text-center">

			<button class="btn-close js-close-popup-btn" type="button">
				<svg  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.33398 18.667L18.6679 1.3331" />
					<path d="M18.668 18.667L1.33407 1.3331"/>
				</svg>
			</button>
			
			<!-- Popup content-->
			<div class="popup__content">
				<p class="popup__title">Выберите категорию для оценки</p>
				<div class="popup-categories row align-horisontal-center align-vertical-end row-nowrap">
					<div class="popup-category">
						<a href="#" class="popup-category__link text-center">
							<span class="popup-category__link--img">
								<img src="img/categories/1.png" alt="">
							</span>
							Бриллианты
						</a>
					</div>

					<div class="popup-category">
						<a href="#" class="popup-category__link text-center">
							<span class="popup-category__link--img">
								<img src="img/categories/2.png" alt="">
							</span>
							Ювелирные изделия
						</a>
					</div>

					<div class="popup-category">
						<a href="#" class="popup-category__link text-center">
							<span class="popup-category__link--img">
								<img src="img/categories/3.png" alt="">
							</span>
							Драгоценные камни
						</a>
					</div>

					<div class="popup-category">
						<a href="#" class="popup-category__link text-center">
							<span class="popup-category__link--img">
								<img src="img/categories/4.png" alt="">
							</span>
							Золото
						</a>
					</div>
				</div>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->