.aside
	margin-left 100px
	width 270px
	&-title
		font 28px $Tenor
		line-height 28px
		margin-bottom 32px
		
	.article-card
		margin-bottom 65px
		&:last-child
			margin-bottom 0
		&__title
			font-size 24px
			line-height 26px
			margin-bottom 10px
		&__preview
			
			font-size 16px
		
	
		