.header
	background-color $header-bg
	position fixed
	top 0
	left 0
	width 100%
	z-index 10
	height 90px
	display flex
	align-items center
	padding-top 10px
	padding-bottom 10px
	border-bottom 1px solid $border-color

	&-contacts
		display flex
		align-items center
		justify-content flex-end
		
		.socials
			margin-left 25px