.breadcrumbs
	margin-top 125px
	&__list
		white-space nowrap
		li
			display inline-block
			margin-right 21px
			padding-right 25px
			position relative
			vertical-align middle
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			&:after
				pseudo()
				width 1px
				height 16px
				background-color $border-color
				position absolute
				right 0
				vertical-center()
				
			&:last-child
				margin-right 0
				padding-right 0
				&:after
					display none
					
		a
			font-size 16px
			color rgba($text-color, .6)
			
		span
			font-size 16px