.btn
	display inline-block
	padding 15px 28px
	font 15px $SemiBold
	text-transform uppercase
	line-height 1
	text-align center
	color $basic-white-color
	border 1px solid $accent-color
	background-color $accent-color
	transition all .17s ease-in-out
	backface-visibility hidden
	svg
		fill $text-color
	&:hover
		background-color transparent
		color $text-color
		svg
			fill $text-color
	
	&-lg
		padding 23px 48px
		
	&-transparent
		background-color transparent
		color $text-color
		&:hover
			color $basic-white-color
			background-color $accent-color
			svg
				fill $basic-white-color
			
	&-with-ic
		display inline-flex
		align-items center
		justify-content center
		svg
			svg()
			flex none
			width 19px
			height 19px
			margin-right 6px
			fill-rule evenodd
			clip-rule evenodd
			
		

		
	&-close
		display inline-block
		width 20px
		height 20px
		svg
			svg()
			fill none
			stroke $text-color
			stroke-width 2.5px
		&:hover
			svg
				stroke $accent-color
		

	&-top
		display none
		border-radius 50%
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background-color $accent-color
		z-index 10
		text-align center
		transition all .17s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($basic-black-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $basic-black-color
			border-right 1px solid $basic-black-color
			transition all .23s ease-in-out
		&:hover
			background-color $basic-black-color
			transform scale(1.1)
			box-shadow 0px 0px 13px 0px rgba($accent-color, 0.21)
			&:after
				border-top 1px solid $accent-color
				border-right 1px solid $accent-color
		

	&-hamburger
		display inline-block
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $accent-color
		position relative
		transition background-color .17s ease-in-out
		margin-left 15px
		&__line
			width 27px
			height 2px
			background-color $basic-black-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
					

	
.f-f-regular
	font-family $Reg
	
.f-f-medium
	font-family $Med
		