.socials
	font-size 0
	white-space nowrap
	height 24px
	li
		display inline-block
		margin-right 10px
		&:last-child
			margin-right 0
	a
		display inline-block
		width 24px
		height 24px
		svg
			svg()
			fill $text-color
		&:hover
			svg
				fill $accent-color
				

.phone-link
	white-space nowrap
	color $text-color
	font-size 22px
	line-height 1
	&:hover
		color $accent-color
		

.worktime
	font-size 17px
	margin-bottom 20px
	span
		color rgba($text-color, .5)
		font-size 14px
		