.socials
	font-size 0
	white-space nowrap
	height 24px
	li
		display inline-block
		margin-right 10px
		&:last-child
			margin-right 0
	a
		display inline-block
		width 24px
		height 24px
		svg
			svg()
			fill $text-color
		&:hover
			svg
				fill $accent-color
				

.phone-link
	white-space nowrap
	color $text-color
	font-size 22px
	line-height 1
	&:hover
		color $accent-color
		

.worktime
	font-size 17px
	margin-bottom 20px
	span
		color rgba($text-color, .5)
		font-size 14px
		

.address
	font-size 20px
	color $opacity-text-color
	span
		display block
		color rgba($text-color, .5)
		font-size 17px
		

.offer
	position relative
	overflow hidden
	padding 55px 60px
	.sect-title
		margin-bottom 12px
	.btn
		width 100%
		padding 17px 10px
		max-width 300px
	p
		color $opacity-text-color
		font-size 17px
		margin-bottom 36px
	&-content
		max-width 530px
	&-img
		position absolute
		vertical-center()
		right 60px
		width 400px
		img
			display block
			

.ic-block
	position relative
	padding-left 30px
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 21px
		height 21px
		background-repeat no-repeat
		background-size contain
		background-position 50%
	&__phone
		&:before
			background-image url('../img/icons/svg/phone.svg')
	&__chat
		&:before
			background-image url('../img/icons/svg/chat.svg')
	&__address
		&:before
			background-image url('../img/icons/svg/address.svg')
			

.link
	color rgba($basic-black-color, .8)
	text-decoration underline
	&:hover
		color $accent-color