<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="footer-row row row-gutters row-nowrap align-horisontal-between">
				<div class="footer-col col-gutters">
					<div class="footer-col__header row align-horisontal-between align-vertical-center">
						<p class="footer-col__title">Покупка и оценка</p>

						<button class="btn-toggle js-toggle-footer-nav-btn" type="button"></button>
					</div>
					
					<nav class="footer-nav">
						<ul>
							<li><a href="#">Ювелирные изделия</a></li>
							<li><a href="#">Бриллианты</a></li>
							<li><a href="#">Драгоценные камни</a></li>
							<li><a href="#">Золото на лом</a></li>
						</ul>
					</nav>
				</div>
				<div class="footer-col col-gutters">
					<div class="footer-col__header row align-horisontal-between align-vertical-center">
						<p class="footer-col__title">О нас</p>

						<button class="btn-toggle js-toggle-footer-nav-btn" type="button"></button>
					</div>
					<nav class="footer-nav">
						<ul>
							<li><a href="#">Онлайн оценка</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="#">Карта сайта</a></li>
						</ul>
					</nav>
				</div>
				<div class="footer-col col-gutters">
					<div class="footer-col__header row align-horisontal-between align-vertical-center">
						<p class="footer-col__title">Пользователю</p>

						<button class="btn-toggle js-toggle-footer-nav-btn" type="button"></button>
					</div>
					<nav class="footer-nav">
						<ul>
							<li><a href="#">Политика конфиденциальности</a></li>
							<li><a href="#">Публичная оферта</a></li>
							<li><a href="#">Вопросы и ответы</a></li>
						</ul>
					</nav>
				</div>
				<div class="footer-col col-gutters">
					<div class="footer-col__header row align-horisontal-between align-vertical-center">
						<p class="footer-col__title">Мы на связи</p>

						
					</div>

					<div class="footer-contacts">
						<p><a href="tel:+380 63 77 77 763" class="phone-link">+380 63 77 77 763</a></p>
						<p class="worktime">с 9:00 до 20:00 <span>ежедневно</span></p>
						{% include '../components/socials.html' %}
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<p class="copyright">Diamonds.com.ua &copy; 2022. Все права защищены </p>
		</div>
	</div>
	<!-- //container -->
</footer>


{% include '../components/popup.html' %}