<section class="sect__advantages gutter-bottom-lg">
	<h2 class="w3c">Наши преимущества</h2>
	<div class="container">
		<div class="advantages-wrapper color-bg">
			<div class="advantages row align-vertical-center row-nowrap row-gutters">
				<div class="advantage col-gutters">
					<span class="advantage-value advantage-value__price">0</span>
					<p>Бесплатная<br> оценка</p>
				</div>

				<div class="advantage col-gutters">
					<span class="advantage-value">10<span>мин</span></span>
					<p>Быстрый ответ<br> по заявке</p>
				</div>

				<div class="advantage col-gutters">
					<span class="advantage-value">100%</span>
					<p>Быстрый ответ<br> по заявке</p>
				</div>

				<div class="advantage col-gutters">
					<span class="advantage-value">10+<span>лет</span></span>
					<p>Большой опыт<br> в экспертизе</p>
				</div>
			</div>
		</div>
	</div>
</section>