//  Fonts 

$Reg = 'Jost-Regular', Arial, sans-serif
$Med = 'Jost-Medium', Arial, sans-serif
$SemiBold = 'Jost-SemiBold', Arial, sans-serif
$Tenor = 'TenorSans', Arial, sans-serif

// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Reg
$body-font-size = 18px
$body-line-height = 23px

// Sizes
$container-width = 1370px
$container-gutters = 0 100px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutters-lg = 110px 0
$gutter-top = 90px
$gutter-top-lg = 110px
$gutter-bottom = 90px
$gutter-bottom-lg = 110px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #B4924F
$secondary-color = green

$text-color = #292929
$opacity-text-color = rgba($text-color, .8)
$light-text-color = #999999


$border-color = rgba(#3D3E30, .05)

$input-border-color = #CCCCCC

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #fff

$color-bg = #FBFBFB

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .3
$popup-body-bg = #FBFBFB
// ========== ========== ========== ========== ==========