.page-service
	padding-top 80px

.sect__service-content	
	.content
		max-width 970px
		


				

.service

		
	&-params
		display flex
		flex-wrap wrap
		justify-content flex-start
		margin-left -5px
		margin-right -5px
		margin-bottom 40px
		margin-top 32px
		
	&-param
		width calc(100% / 6)
		padding-left 5px
		padding-right 5px
		margin-bottom 10px
		color $text-color
		img
			margin-top 0
			width 56px
			height 56px
			margin-bottom 10px
			
.brands-logos
	display flex
	flex-wrap wrap
	justify-content flex-start
	margin-left -10px
	margin-right -10px
	margin-bottom 12px
	
	
.brand-logo
	flex-col-center()
	padding 0 10px
	margin-bottom 20px
	width calc(100% / 6)
	img
		@extends .content-img
		margin-top 0
		
.sertificates
	white-space nowrap
	overflow-y auto
	font-size 0
	padding-bottom 10px
	
.sertificate
	display block
	height 207px
	border none !important
	&:hover
		opacity .75
	
	&-wrapper
		display inline-block
		vertical-align top
		margin-right 20px
		
		img
			@extends .content-img
			margin-top 0
			
.sect__seo
	border-top 1px solid $border-color
	margin-top $gutter-top-lg
	
.service-entering-text
	margin-bottom 36px
	font-size 19px
	line-height 22px
	h1,h2
		font-size 60px
		line-height 67px
		margin-bottom 22px
		
.service-evaluation-form
	.form-group-file
		display flex
		flex-direction column
		justify-content space-between
		
	.form-textarea
		min-height 140px
	
	.form-submit
		margin-top 17px
		
.service-shapes
	display flex
	flex-wrap wrap
	justify-content flex-start
	margin-left -13.5px
	margin-right -13.5px
	margin-bottom 25px
	margin-top 35px
	
.service-shape
	text-align center
	font-size 14px
	color $text-color
	padding-left 13.5px
	padding-right 13.5px
	margin-bottom 20px
	width 10%
	img
		margin 0 auto 16px auto
		width 68px
		height 68px
		


.stone-types
	margin-bottom 80px
	margin-top 40px
	
.stone-type
	display flex
	flex-wrap nowrap
	align-items flex-start
	margin-bottom 34px
	&:last-child
		margin-bottom 0
	&__img
		width 70px
		margin-right 55px
		flex none
		img
			display block
			width auto
	&__title
		color $text-color
		font 20px $Med
		margin-bottom 10px !important
		

.double-imgs
	background-color $color-bg
	display flex
	flex-wrap nowrap
	margin 35px 0
	overflow hidden
.double-img
	width 50%
	flex-col-center()
	padding 10px
	&:first-child
		padding-bottom 0
	img
		@extends .content-img
		margin 0