.page-sales-service
	.sect__service-evaluation
		padding-bottom 190px
		
	.sect__feedbacks
		padding-bottom $gutter-bottom-lg
	.feedbacks__row
		padding-bottom 75px
		border-bottom 1px solid $border-color
		
	

.sect__service-entering
	padding-top 45px
	padding-bottom 120px
	
	.page-entering
		margin-bottom 0
	
	.content
		h1
			font-size 60px
			margin-bottom 24px
			line-height 1
		h2
			font 24px $Reg
			color $text-color
			margin-bottom 24px
			
	.btn
		margin-top 40px
		width 100%
		max-width 330px
		padding-left 15px
		padding-right 15px
		

.service-benefits
	margin-top 75px
	
.service-benefit
	display flex
	align-items center
	flex-wrap nowrap
	justify-content flex-start
	font-size 17px
	color $opacity-text-color
	line-height 1
	&__ic
		display block
		background-size contain
		background-repeat no-repeat
		background-position 50%
		width 50px
		height 50px
		flex none
		margin-right 15px
		
.sect__sales-steps
	padding-bottom 130px
.sales-steps
	&__content
		margin-bottom 100px
		p
			color $opacity-text-color
		&-img
			flex none
			width 270px
			margin-right 46px
			img
				display block
		&-text
			flex 1
		

.sales-steps
	margin-left -20px
	margin-right -20px
	margin-bottom -40px
	
.sales-step
	display flex
	flex-wrap nowrap
	align-items flex-start
	color $opacity-text-color
	font-size 16px
	line-height 18px
	padding-left 20px
	padding-right 20px
	margin-bottom 40px
	&__counter
		font 34px $Tenor
		margin-right 27px
		line-height 1
		color $text-color
		margin-top 3px
	h3
		font 20px $Med
		margin-bottom 17px
		color $text-color
		line-height 1
		

.sect__price-affects
	padding-bottom 190px
	.btn
		margin-top 46px
		
.price-affects
	h2
		margin-top 0 !important
		
	img
		width 350px
		&.alignright
			float right
			margin 0 0 56px 37px

.jewels-brands
	margin-top 95px
	p
		margin-bottom 40px
		
	&__row
		flex-wrap wrap
		justify-content flex-start
		
		margin-left -25px
		margin-right -25px
		margin-bottom -50px
		
.jewels-brand
	padding-left 25px
	padding-right 25px
	display flex
	align-items center
	margin-bottom 50px
	img
		@extends .content-img