.sect__technical
	min-height calc(100vh - 90px)
	padding 55px 0 30px
	display flex
	.container
		display flex
		flex-direction column
		justify-content space-between
		

	.breadcrumbs
		margin-top 50px
	
.block-technical
	img
		display block
		width 100%
		max-width 390px
		margin 0 auto 20px auto
	&__title
		font 80px $Tenor
		line-height 100px
		margin-bottom 13px
		
	p
		margin 0 auto 34px auto
		max-width 630px
		color $opacity-text-color
		font-size 20px
		line-height 26px