.sect__city
	padding-top 65px
	
.sect__contacts
	padding-top 45px
	
.contacts-block
	padding-bottom 100px
	border-bottom 1px solid $border-color
	margin-bottom 70px
	
.contacts-entering
	display flex
	flex-wrap nowrap
	align-items center
	justify-content space-between
	padding-bottom 40px
	&__content
		flex 1
		max-width 575px
	&__img
		flex 1
		margin-left 50px
		img
			display block
			

.contacts-information

	.worktime
		margin-top 15px
	&__col
		padding-left 100px
		padding-right 100px
	
	&__title
		font 20px $Med
		text-transform uppercase
		margin-bottom 20px
		
	.row
		margin-left -100px
		margin-right -100px
		
	ul
		li
			margin-bottom 10px
			&:last-child
				margin-bottom 0
				

	