// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/
+max-screen(1450px)
	.sect-title
		font-size 40px
		line-height 46px

+max-screen(1365px)
	.container
		padding-left 40px
		padding-right 40px
		max-width 100%
		

	// .description-content
	// 	.sect-title
	// 		br
	// 			display none
				
	.description-content, 
	.description-img__wrapper
		padding-left 15px
		padding-right 15px
		
	.description__row
		margin-left -15px
		margin-right -15px
		

	.form-wrapper__row 
		margin-left -15px
		margin-right -15px
		.form-wrapper
			padding-left 15px
			padding-right 15px
			
	.form-text
		padding 65px 45px 40px 50px
		&__wrapper
			padding-left 15px
			padding-right 15px
			
	.form-notice
		font-size 13px
		br
			display none

		


		
+max-screen(1280px)
	.title
		font-size 50px
		line-height 46px
		margin-bottom 40px
		

	.promo-block
		padding-top 120px
		min-height calc(100vh - 90px)
		&__content
			max-width 520px
		&__img
			width 600px
			margin-left 0
		&__advantages
			margin-bottom 55px
		&__advantage
			flex-wrap wrap
			padding-right 40px
			margin-right 40px
			max-width 180px
			
			&:after
				transform none
				bottom 0
				height 36px
			p
				width 100%
				margin-top 8px
				font-size 16px
				

	.consultation-form
		padding 50px
		
	.consultation-img
		max-width 450px

	.aside
		width 260px
		margin-left 50px
		
	.article
		&-title
			font-size 40px
			line-height 1
			margin-bottom 50px
			
	.content
		h2
			font-size 28px
			line-height 31px


+max-screen(1100px)
	.btn-toggle
		display inline-block
		
	.footer-top
		padding-top 20px
		padding-bottom 40px
		
	.footer-col
		width 100%
		padding-bottom 20px
		margin-bottom 20px
		border-bottom 1px solid $border-color
		padding-left 0
		padding-right 0
		
		&:last-child
			padding-bottom 0
			margin-bottom 0
			border-bottom none
		&__title
			font-size 15px
			margin-bottom 0
			color $text-color
		
	.footer-row
		flex-wrap wrap
		margin 0
		
	.footer-nav
		padding-top 35px
		padding-bottom 15px
		display none
		li
			margin-bottom 20px
		
	.footer-contacts
		margin-top 22px
		
		.phone-link
			font-size 26px
			
	.footer-bottom
		padding 20px 0
		font-size 14px
		

	.page-entering

		&__img
		
			max-width 300px
			

	.offer
		&-img
			width 300px
			height 300px
			right 30px
			
		



				
+max-screen(1024px)
				
	.description-information__row
		justify-content flex-start
		flex-wrap wrap
		margin-bottom -35px
		
	.description-information__item
		width 33.3333%
		margin-bottom 35px
		
			










+max-screen(992px)
	.sect-title
		font-size 36px
		line-height 39px
		
	.gutter-bottom-lg
		padding-bottom 120px
		
	// Header
	.header
		.phone-link
			font-size 18px
		&__row
			padding-right 50px
		.btn
			span
				display none
				
	.nav-wrapper
		position fixed
		top 90px
		left 0
		z-index 90
		height calc(100vh - 90px)
		width 100%
		background-color $basic-white-color
		padding 20px 40px 60px
		flex none
		margin 0
		display block
		overflow-y auto
		transition all .23s ease-in-out
		opacity 0
		visibility hidden
		pointer-events none
		&.is-opened
			opacity 1
			visibility visible
			pointer-events auto
		.header-contacts
			display block !important
			padding-top 25px
			
			.socials
				margin-left 0
				margin-top 20px
			
	.nav-dropdown
		transition none
		opacity 1
		visibility visible
		pointer-events inherit
		position relative
		box-shadow none
		min-width auto
		&__wrapper
			margin-bottom 0
		&__btn
			display none
			
	.nav
		padding-bottom 25px
		margin-bottom 25px
		border-bottom 1px solid $border-color
		&-title
			display block
		ul
			li
				border none
				margin-bottom 30px
				&:last-child
					margin-bottom 0
				a
					padding 0
					font-size 17px
					padding-right 20px
					position relative
					&:after
						pseudo()
						width 9px
						height 15px
						background url('../img/icons/svg/nav-arrow.svg') 50% no-repeat / contain
						position absolute
						vertical-center()
						right 0
						
	.nav-secondary
		display block
		
	.btn-hamburger
		display inline-block
		
	.title
		font-size 44px
		line-height 49px
		margin-bottom 40px
		
	.promo-block
		&__content
			max-width 460px
		&__img
			width 410px
			margin-left -80px
			
	.btn
		font-size 14px
		&-with-ic
			svg
				

	.sect-entering
		flex-wrap wrap
		margin-bottom 35px
		.sect-title
			width 100%
			margin-bottom 26px
			
	.sect__categories
		padding-bottom 30px
			
	.category-card
		min-height 212px
		&__wrapper
			width 100%
			&:last-child
				margin-bottom 0
		&__text
			max-width none
			
	.categories-cards
		margin-bottom 0
		
	.description
		&__row
			flex-wrap wrap
		&-img
			height auto
			background-color transparent
			&:before
				pseudo()
				width 100%
				height 80%
				background-color $color-bg
				position absolute
				bottom 0
			img
				position relative
				width 100%
				height auto
				transform none
				top auto
				left auto
			&__wrapper
				max-width 100%
				flex none
				
				margin-bottom 60px
		&-content
			flex none
			width 100%
			
				
	.form-wrapper
		&__row
			flex-wrap wrap
			
			.form-wrapper
				flex none
				width 100%
				max-width 100%
				margin-bottom 60px
				
	.form-text
		padding 60px 45px
		&__wrapper
			max-width 100%
			flex none
			padding-top 0		
			
	// Advantages
	.advantages
		align-items flex-end
		justify-content space-between
		&-wrapper
			padding 30px
			
	.advantage
		flex-wrap wrap
		p
			width 100%
			margin-top 5px
			

	.sect-entering .slider-controls
		display none
		
	.products-slider .swiper-slide
		width 180px
		
	.product-slide
		&__img
			height 220px
		&__title
			font-size 14px
			line-height 14px
		&__brand
			font-size 12px
			margin-top 6px
			line-height 12px
			
	.sect__products
		.sect-entering
			margin-bottom 80px
			

	.sect__benefits
		.sect-title
			margin-bottom 50px
			
	.benefit
		width 100%
		margin-bottom 46px
		font-size 17px
		line-height 22px
		&:last-child
			margin-bottom 0
		&-title
			font-size 18px
			margin-bottom 12px
		
			
	.benefits
		margin-bottom 0
		

	.feedbacks
		&__row
			flex-wrap wrap
	
		&-description
			width 100%
			flex none
			margin-right 0
			p
				max-width 100%
				
		&-slider
			margin-top 56px
			width calc(100% + 30px)
			margin-top 56px
			
	.consultation
		flex-wrap wrap
		&-img
			max-width 100%
			padding-top 10px
			&:before
				width 110px
				height 110px
				top -55px
			&:after
				bottom 120px
				left 100px
			img
				position relative
				bottom auto
				left auto
				
		&-form
			width 100%
			padding 100px 50px
			
			.form-submit
				.form-file
					flex 1
					max-width none
					.btn
						width 100%
				.btn
					width auto
					max-width none
					flex 1

	.popup
		box-shadow 0px 36px 190px rgba(0, 0, 0, 0.25)
		&-category
			width 50%
			margin-bottom 45px
			white-space nowrap
			
		&-categories
			flex-wrap wrap
			margin-bottom -45px
			max-width 500px
			margin 0 auto -25px
		&__title
			font-size 32px
			line-height 35px
			max-width 375px
			margin 0 auto 20px auto
			

	.block-technical
		&__title
			font-size 60px
			line-height 60px
			
		p
			font-size 18px
			line-height 24px
			
	.breadcrumbs
		a
			font-size 16px
			
	// Blog
	.article-card
		&__wrapper
			width 50%
			margin-bottom 0
			
				
			&:nth-child(3n+1)
				padding-top 0
			&:nth-child(3n+3)
				padding-top 0
				
			&:nth-child(2n+3)
				padding-top 80px
				
			&:nth-child(4)
				padding-top 40px
				
		&__title
			font-size 26px
			line-height 29px
		&__preview
			font-size 17px
			line-height 22px
				
	.pagination
		margin-top 140px
		
	.page-title
		font-size 46px
		margin-bottom 50px
		line-height 46px
		
	.content
		h1
			font-size 36px
			margin-bottom 20px
		

	// Article
	.page-article
		&__row
			flex-wrap wrap
			

	.aside
		width 100%
		margin-left 0
		margin-top 120px
		&-title
			font-size 24px
		&-articles
			display flex
			flex-wrap nowrap
			margin-left -15px
			margin-right -15px
			
		.article-card
			padding-left 15px
			padding-right 15px
			width 50%
			margin-bottom 0
			&:nth-child(3)
				display none
		
	.article
		&-wrapper
			flex none
			max-width 100%



	.page-entering
		position relative
		padding-bottom 85px
		margin-bottom 85px
		&__img
			width 255px
			right 0
			bottom 30px
			position absolute
		&__content
			padding-right 285px
			h1
				font-size 44px
				white-space nowrap
				
			p
				max-width 90%
				

	.offer
		padding-left 30px
		padding-right 30px
		&-content
			max-width 420px
		&-img
			width 215px
			height 215px
			







+max-screen(767px)
	.container
		padding-left 20px
		padding-right 20px
		
	.main-gutter-top
		padding-top 59px
		
	// Header
	.header-contacts
		display none
		
	.header
		height 60px
		padding-top 5px
		padding-bottom 5px
		
		.btn
			min-width 105px
			height 40px
			font-size 14px
			padding 5px
		
	.btn-hamburger
		right 15px
		
	.logo
		img
			width 145px
			
	.nav-wrapper
		height calc(100vh - 60px)
		top 60px
		padding-left 20px
		padding-right 20px
		
	.popup
		height calc(100vh - 60px)



	.sect__technical
		min-height calc(100% - 60px)







+max-screen(700px)
	body
		font-size 17px
		line-height 22px
	.gutter-bottom
		padding-bottom 40px
		
	.sect-title-sm
		font-size 26px
		line-height 26px
		margin-bottom 16px
		
	// promo
	.promo-block
		flex-wrap wrap
		height auto
		min-height auto
		padding 55px 0 100px
		justify-content flex-end
		
		&__img
			order 1
			width 340px
			height 200px
			background-color $color-bg
			margin-left 0
			margin-right -100px
			margin-bottom 50px
			img
				position absolute
				positio-center()
				margin-left -40px
				width 420px
		&__content
			order 2
			max-width 100%
			
		&__advantage
			padding-right 25px
			margin-right 40px
			p
				font-size 14px
				
			&--ic
				width 33px
				height 33px
				margin-right 8px
			&--value
				margin-right 0
				font-size 32px
			
		&__advantages
			margin-bottom 40px
			
		&__btns
			flex-wrap wrap
			.btn
				width 100%
				margin-right 0
				margin-bottom 16px
				&:last-child
					margin-bottom 0
			
	.title
		font-size 36px
		line-height 38px
		margin-bottom 30px
		br
			display none
			
	.sect-title
		font-size 32px
		line-height 39px
		margin-bottom 30px
		
	.sect-entering
		margin-bottom 40px
		
	.sect__categories
		padding-top 40px
		
		
	.category-card
		padding 35px 5px 35px 20px
		min-height 130px
		&__wrapper
			margin-bottom 30px
		p
			font-size 14px
			line-height 18px
			margin-bottom 0
			br
				display none
			
		.btn
			display none
		&__text
			flex 1
			max-width 200px
			margin-right 15px
		&__thumbnail
			width 100px
			height 100px
			img
				max-width 80px
				max-height 80px
		&__title
			font-size 19px
			line-height 20px
			margin-bottom 6px
			

	.form-groups__row
		.form-group
			width 100%
			
		.form-submit
			flex-wrap wrap
			
			.btn
				flex none
				width 100%
				max-width 100%
				
		.form-notice
			margin-left 0
			margin-top 20px
			font-size 14px
			
	.form-label.hidden-label
		display none
		
	.form-group
		margin-bottom 20px
		
	.form-checkbox
		min-height 20px
		font-size 14px
		padding-left 30px
		&:before
			width 20px
			height 20px
			background-size 10px 7px
			
	.form-wrapper
		&__row
			.form-wrapper
				margin-bottom 145px
				
	.form-text
		padding 55px 25px
		font-size 17px
		
	.advantage
		width 50%
		flex none
		margin-bottom 50px
		
	.advantages
		margin-bottom -50px
		flex-wrap wrap
		justify-content center
		&-wrapper
			padding 40px 50px
			
	.products-slider
		margin-left -7.5px
		margin-right -7.5px
		.swiper-slide
			padding-left 7.5px
			padding-right 7.5px
			width 145px
			
	.product-slide
		&__img
			height 185px
	
	.products-slider__wrapper
		padding-bottom 100px
		
	.sect__products
		padding-bottom 100px
		
	.sect__benefits
		.sect-title
			margin-bottom 35px
			br
				display none
				
	.sect__brands
		.sect-title
			margin-bottom 22px
			
		.sect-description
			margin-bottom 30px
			
	.brand
		padding-left 10px
		padding-right 10px
		margin-bottom 25px
		height 40px
		
	.brands
		margin-left -10px
		margin-right -10px
		margin-bottom -25px
		
	.feedbacks-slider
		margin-top 35px
		
	.feedbacks-description .row
		margin-bottom 30px
		
	.feedback
		padding 40px 35px
		&-content
			padding-top 45px
		&-text
			font-size 18px
			line-height 25px
			margin-bottom 30px
			
	.sect__feedbacks
		padding-bottom 140px
		

	.consultation
		flex-wrap wrap
		border none
		&-img
			height 300px
			display flex
			align-items flex-end
			margin-bottom 70px
			&:before
				width 80px
				height 80px
				top -35px
				right 20px
			&:after
				width 40px
				height 40px
				left 100px
				bottom -15px
			img
				width 100%
				height auto
				
		&-form
			padding 0
			.form-submit
				flex-wrap wrap
				flex-direction column
				
			.form-file
				margin-right 0
				margin-bottom 20px
				
			.btn
				height 50px
				

	.popup
		&__overflow
			padding-top 75px
			.btn-close
				top 15px
				right 15px
		
		&-category
			margin-bottom 20px
			&__link
				font-size 12px
				&--img
					width 120px
					height 120px
					margin 0 auto 15px auto
					img
						max-height 100px
						max-width 100px
			
		&-categories
			margin-bottom -20px
			
		&__title
			font-size 26px
			line-height 28px
			margin-bottom 20px


	.sect__technical
		padding-top 35px
		padding-bottom 30px
		
		.breadcrumbs
			margin-top 100px
		
	.block-technical
		img
			max-width 340px
			margin-bottom 15px
		&__title
			font-size 42px
			line-height 1
			margin-bottom 14px
		
		p
			font-size 17px
			line-height 22px
			margin-bottom 40px
			

	.article-card
		&__wrapper
			width 100%
			margin-bottom 60px
			padding-top 0 !important
			&:last-child
				margin-bottom 0
			
		
				
		&__title
			font-size 26px
			line-height 29px
		&__preview
			font-size 16px
			line-height 22px
				
	.pagination
		margin-top 100px
		&-item
			margin-right 24px
			a
				font-size 26px
		
	.page-title
		font-size 33px
		margin-bottom 35px
		line-height 37px
		

	.aside
		margin-top 100px
		&-articles
			flex-wrap wrap
			
		.article-card
			width 100%
			margin-bottom 50px
			&:last-child,
			&:nth-child(2)
				margin-bottom 0
				
			&__title
				font-size 26px
				line-height 29px
		

		
	.share
		margin-top 50px
		flex-wrap wrap
		&-label
			display block
			width 100%
			margin-bottom 30px
			margin-right 0
			

	.article
		padding-bottom 80px
		&-title
			font-size 31px
			line-height 1
			margin-bottom 38px
			
		&-thumbnail
			margin-bottom 20px
			

	.content
		h1
			font-size 31px
			margin-bottom 26px
			
		p + h3,
		ul + h3,
		ol + h3,
		img + h3
			margin-top 50px
			
		p + h2,
		ul + h2,
		ol + h2,
		img + h2
			margin-top 50px
			
		h2
			font-size 24px
			line-height 26px
			
		h3
			font-size 18px
			line-height 18px
			
		img
			margin 25px 0
			
	.breadcrumbs
		li
			padding-right 20px
			margin-right 16px
			width auto
			//max-width 110px

		
	.text-page-gutter
		padding-top 55px
		
	// City
	.sect__city
		padding-top 60px
		
	.page-entering
		position relative
		padding-bottom 20px
		margin-bottom 60px
		flex-wrap wrap
		&__img
			width 75%
			position relative
			bottom auto
			right auto
		
			margin 40px auto 0
			
		&__content
			padding-right 0
			max-width 100%
			flex none
			h1
				font-size 33px
				white-space normal
				
			p
				max-width 100%
				
	.text-page
		padding-bottom 90px
		

	.offer
		padding 120px 20px 75px
		&-content
			max-width 100%
		&-img
			width 190px
			height 190px
			transform none
			top -65px
			
		.sect-title
			max-width 270px
			

	.sect__city
		.feedbacks-description
			p
				display none
			.row
				margin-bottom 0
			







		

			

+max-screen(550px)
	.description-information__item
		font-size 15px
		line-height 17px
		width 50%
		margin-bottom 25px
		&--ic
			width 42px
			height 42px
			margin-bottom 10px
		
	.description-information__row
		margin-bottom -25px
		
	.sect-title
		font-size 30px
		line-height 30px

	.sect__form
		padding-bottom 50px
		

	.offer
		.btn
			max-width 100%











+max-screen(410px)
	// Promo
	.promo-block
		&__advantage
			padding-right 15px
			margin-right 15px
			
	.advantage
		p
			font-size 14px
		&-value
			font-size 30px
			min-height 45px
			display flex
			align-items center
			flex-wrap wrap
			&__price
				white-space nowrap
			span
				font-size 10px
				display block
				width 100%
				
	.advantages-wrapper
		padding 35px
		

			


+max-screen(359px)
	.logo
		img
			width 110px
			
	.promo-block__advantage p
		font-size 12px
		line-height 14px
		
	.content
		h1
			font-size 27px
			
		
